<h1> <%= @place["name"] %> </h1>


<% for post in @posts %>
    <p>
    <h2> <%= post["title"] %> </h2>
    <i> <%= post["posted_on"] %> </i>
    <br> <%= post["description"] %> </br>
    </p>
<% end %>


<p><a href="/posts/new?place_id=<%= @place.id %>"> New post </a></p>

<p><a href="/places"> Back to places </a></p>
